import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
li,a{
    font-family:"Montserrat",sans-serif;
    font-weight:600;
    font-size:16px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:3px;
}
h1{
    font-family:"Montserrat",sans-serif;
    font-weight:800;
    font-size:30px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:8px;
}
h4{
    font-family:"Montserrat",sans-serif;
    font-weight:500;
    font-size:14px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:0.5px;
}
#header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 2%;
    background-color:#d7d9da;
    height:120px;
}
.head{
    top:0;
    position:fixed;
    width:88vw;
    padding:0px 5%;
}
.logo{
    width:90px;
}
.nav_links{
    list-style:none;
}
.nav_links li{
    display:inline-block;
    padding:0px 5px;
}
.nav_links li:nth-child(1){
    text-decoration:underline;
}
.nav_linkss li a:hover{
    color:#0088a9;
}
.nav_links ul{
    padding-inline-start: 20px;
}
h2{
    font-family:"Montserrat",sans-serif;
    font-size:18px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:2px;
    text-align:center;
}
h3{
    font-family:"Montserrat",sans-serif;
    font-weight:800;
    font-size:18px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:5px;
}
.content{
    font-family:"Montserrat",sans-serif;
    font-size:15px;
    line-height:20px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:1px;
}
.information{
    font-family:"Montserrat",sans-serif;
    font-size:15px;
    line-height:30px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:1px;
}
.location{
    padding:0px 5%;
    display:flex;
    justify-content:space-between;
}
.date{
    margin-top:120px;
    padding:30px 0px 30px 40px;
    float:left;
    width:25%;
    background-color:#f8f8f8;
    align-items:center;
}
.right{
    float:left;
    width:75%;
    margin-left:50px;
    margin-top:150px;
    margin-bottom:30px;
    margin-right:20px;
}
.image-plus-horizontal{
    position: fixed;
    top: 540px;
    left: 480px;
    background-color: rgba(0, 0, 0, .3);
    width: 2px;
    height: 800px;
    transform: translate(-50%, -50%);
    z-index:999;
}
.pic{
    cursor:pointer;
    margin-top:10px;
    display:flex;
    justify-content:space-between;
}
.image{
    cursor:pointer;
    width:300px;
}
.bottom{
    padding:0px 5%;
    width:88vw;
}
.foot{
    font-family:"Montserrat",sans-serif;
    font-size:16px;
    color:#24252a;
    text-decoration:none;
    letter-spacing:2px;
    text-align:center;
}
#bott{
    align-items:center;
    padding:10px 5%;
    background-color:#d7d9da;
    height:50px;
}