<!DOCTYPE html>
<html><head>
  
  <title>ACM SIGSPATIAL 2023 Proceedings</title><meta name="description" content="ACM SIGSPATIAL 2023 Website">
  <meta name="keywords" content="ACM SIGSPATIAL 2023 Conference">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="images/main.css">
  <link rel="shortcut icon" href="http://sigspatial2022.sigspatial.org/theme/images/thumbs/favicon.ico">
<style>#content {padding:5px 15px;} .session-info {padding-left:12px;}</style></head>
<body>
<div id="container">

<div id="header">
  <table>
    <tbody><tr>
      <td id="sigspatial-logo" rowspan="2"><img src="images/acmsigspatial-full.png"></td>
      <td><img src="images/skyline1.jpg"></td>
      <td id="sigspatial-title" colspan="3">
        31th ACM SIGSPATIAL<br>
        International Conference on Advances<br>
        in Geographic Information Systems<br>
        (ACM SIGSPATIAL 2023)<br>
        <span class="info">Monday November 13 - Thursday November 16, 2023<br> Hamburg, Germany</span>
      </td>
    </tr>
    <tr>
      <td><img src="images/ballard.jpg"></td>
      <td><img src="images/pikemarket.jpg"></td>
      <td><img src="images/realestate.jpg"></td>
      <td><img src="images/mount1.jpg"></td>
    </tr>
  </tbody></table>
</div>

<div id="main"><table><tbody><tr>
  <td id="sidebar-td"><div id="sidebar">  
      <!---
      <div class="featured">
        <a href="../registration-site/">
          Register for<br /> ACM SIGSPATIAL 2015
        </a>
      </div>
      -->
    <h3><u>Organization</u></h3>
    <ul>
      <li><b>General Chairs</b></li>
      <li><i>Yan Huang</i></li>
      <li><i>Jean-Claude Thill</I></li>
      <li><i>Hui Zhang</I></li>
      <li>&nbsp;</li>
      <li><b>Program Committee Chairs</b></li>
      <li><i>Danhuai Duo</i></li>
      <li><i>Yi Liu</i></li>
      <li><i>Wei Xu</i></li>
      <li><i>Bin Chen</I></li>
      <li>&nbsp;</li>
    </ul>
    

    <h3><u>Follow Us</u></h3>
    <div id="social-sidebar">
      <a target="_blank" href="https://www.facebook.com/groups/1450681355222657/"><img src="images/facebook_logo_2.jpg"></a>
      <a target="_blank" href="https://www.linkedin.com/groups?home=&amp;gid=4162155"><img src="images/linkedin_logo.jpg"></a>
      <a target="_blank" href="https://twitter.com/sigspatial_gis"><img src="images/twitter_logo_2.jpg"></a>
    </div>
	
		
    <h3><u>Corporate Sponsors</u></h3>
    <h4><u>Platinum</u></h4>
    <div id="sponsors-sidebar">
      <a target="_blank" href="https://jobs.apple.com/"><img src="images/Apple_Logo_19.png" style="margin: auto; display: block; max-width: 125px; max-height: 60px; width: auto; height: auto;"></a>
     
      <!--
      <a target="_blank" href="http://www.google.com/"><img src="../theme/images/sponsors/google-thumb.png" style="display: block; max-width:200px; max-height:100px; width: auto; height: auto;  margin: auto;"/></a>
      <a target="_blank" href="http://www.esri.com/"><img src="../theme/images/sponsors/esri-thumb.png" style="display: block; max-width:200px; max-height:100px; width: auto; height: auto; margin: auto;"/></a>
      <a target="_blank" href="http://www.facebook.com/"><img src="../theme/images/sponsors/facebook-thumb.png" style="display: block; max-width:200px; max-height:100px; width: auto; height: auto; margin: auto;"/></a>
	    <a target="_blank" href="http://www.uber.com/"><img src="../theme/images/sponsors/uber-thumb.png" style="display: block; max-width:150px; max-height:150px; width: auto; height: auto; margin: auto;"/></a>
	    <a target="_blank" href="http://www.nvidia.com/"><img src="../theme/images/sponsors/nvidia-thumb.png" style="display: block; max-width:200px; max-height:100px; width: auto; height: auto; margin: auto;"/></a>
      <a target="_blank" href="https://www.microsoft.com/"><img src="images/microsoft.png" style="margin: auto; display: block; max-width: 125px; max-height: 60px; width: auto; height: auto;"></a>
      <a target="_blank" href="https://www.ibm.com/"><img src="images/ibm.png" style="margin: auto; display: block; max-width: 125px; max-height: 60px; width: auto; height: auto;"></a>      
      <a target="_blank" href="https://www.ordnancesurvey.co.uk/"><img src="../theme/images/sponsors/OS-thumb.png" style="display: block; max-width:200px; max-height:100px; width: auto; height: auto; margin: auto;"/></a>
      --> 
    </div>
    <h4><u>Bronze</u></h4>
    <a target="_blank" href="https://www.esri.com/"><img src="images/esri.png" style="margin: auto; display: block; max-width: 125px; max-height: 60px; width: auto; height: auto;"></a>
    <a target="_blank" href="https://www.oracle.com/index.html"><img src="images/oracle.png" style="margin: auto; display: block; max-width: 125px; max-height: 60px; width: auto; height: auto;"></a>
      
    <h3><u>Private Sponsors</u></h3>
    <div id="private-sidebar">
    <a href="https://wrfranklin.org/">W. Randolph Franklin</a>   
   
    <!-- 
      <a target="_blank" href="https://www.nsf.gov/"><img src="images/NSF.png" style="margin: auto; display: block; max-width: 200px; max-height: 80px; width: auto; height: auto;"></a>
      <a target="_blank" href="https://cra.org/ccc/"><img src="images/ccc-logo.png" style="margin: auto; display: block; max-width: 200px; max-height: 80px; width: auto; height: auto;"></a>
      -->
    </div>
    
    <br>
    <br>
   
  </div></td>
  <td id="content-td">
<!--------------------------------START------------------------>
<div id="content">
  <h2 class="page-title"> The 8th ACM SIGSPATIAL International Workshop on Security Response using GIS 2023 </h2>
  

<h3>Monday, November 13, 2023</h3>

<h3>Program</h3>
  <p>
    <u>
      14:05-15:35 : <b>Session 1 </b>
    </u>
  </p>   	  
  <p>
    14:05-14:20 : <a href="papers/EM-GIS_2023_paper_1.pdf">Forest fire emergency rescue and evacuation path planning based on improved APF</a> <br>
    <i>Yang Wu, Kaiyi Lin, Weihong Li, Tuoyu Xiang, Yanqiao Zhang, Yang Yang, Yingchun Chen and Rui Zhou
    </i>
  </p>
  <p>
    14:20-14:35 : <a href="papers/EM-GIS_2023_paper_3.pdf">Causality-informed Rapid Post-hurricane Building Damage Detection in Large Scale from InSAR Imagery</a> <br>
    <i>
	Chenguang Wang, Yepeng Liu, Xiaojian Zhang, Xuechun Li, Vladimir Paramygin, Arthriya Subgranon, Peter Sheng, Xilei Zhao and Susu Xu

    </i>
  </p>

  <p>
    14:35-14:50 : <a href="papers/EM-GIS_2023_paper_4.pdf">Enhancing Collaborative Emergency Management: Leveraging Blockchain Distributed Ledger for Inter-Agency Data Sharing</a> <br>
    <i>
        Qi Wang and Yi Liu</i><br>
  </p>
  <p>
    14:50-15:05 : <a href="papers/EM-GIS_2023_paper_5.pdf">The Geography of Conflicts: A Comparative Assessment of Web Data</a> <br>
    <i>
	Jan Bongard, Tobias Elßner, Xuke Hu and Jens Kersten
    </i>
  </p>

  <p>
    15:05-15:20 : <a href="papers/EM-GIS_2023_paper_6.pdf">MFN: A Multi-hop Fusion Network for Traffic Accident Risk Prediction</a> <br>
    <i>
    Hang Gao, Yiting Wang, Han Xing and Yi Liu
    </i><br></p>

  <p>
    15:20-15:35 : <a href="papers/EM-GIS_2023_paper_24.pdf">Study on Spatiotemporal Knowledge Graph of Emergency Scenarios</a> <br>
    <i>
	Jing Qian, Yi Liu and Hui Zhang
    </i>
  </p>
 <p><u>15:35-16:05 : <b>Coffee Break </b></u></p>
  <p>
    <u>
      16:05-17:10 : <b>Session 2 </b>
    </u>
  </p> 
    <p>
    16:05-16:20 : <a href="papers/EM-GIS_2023_paper_25.pdf">Spatio-temporal Heterogeneity Analysis of Transportation Equity Based on GTWR</a> <br>
    <i>
	Shihui Hu, Xinmeng Wan and Danhuai Guo
    </i>
  </p> 
  
    <p>
    16:20-16:35 : <a href="papers/EM-GIS_2023_paper_27.pdf">WYA: A Novel Spatial Scene Classification Framework Based on Surrounding Object Detection</a> <br>
    <i>
        Ruoling Wu and Danhuai Guo</i><br><i>
    </i>
  </p>

  <p>
    16:35-16:50 : <a href="papers/EM-GIS_2023_paper_28.pdf">A New Approach for Solving Location Routing Problems with Deep Reinforcement Learning of Emergency Medical Facility</a> <br>
    <i>
        Shaohua Wang, Junyuan Zhou, Haojian Liang, Zhenbo Wang, Cheng Su and Xiao Li
    </i>
  </p>

    <p><u>16:50-17:00 : <b> Best Paper Voting</b></u></p>
    <p><u>17:00-17:10 : <b> Closing Remarks</b></u></p>

<!--------------------------------END------------------------>
</div>

  </td>
</tr></tbody></table></div>

<div id="footer">
  <div id="footer-photos">
    <div id="footer-photos-wrapper">
      <img src="images/downtown.jpg">
      <img src="images/japanese.jpg">
      <img src="images/alki.jpg">
      <img src="images/mount2.jpg">
      <img src="images/skyline2.jpg">
    </div>
  </div>
  <div>ACM SIGSPATIAL 2023</div>
  <div id="ack"><a href="http://sigspatial2018.sigspatial.org/credits/">Photo Credits</a></div>
</div>

</div>
</body></html>